<!DOCTYPE html>
<html>
<head>
    <link rel = "stylesheet" href="/css/styles.css" >
</head>
<body>
    {{>header}}
    <img src="/web-server/public/img/IMG_20200510_181947.jpg">
    {{>footer}}
</body>
</html>